.navlink{
    width: 100px;
    font-weight: bold;
    text-align: center;
  }
  .navlink:hover{
    background-color: #222328;
    border-radius: 5px;
    width: 150px;
    transition: 0.4s ease-in-out;
  
  }